
body, h1, h2, h3, h4, h5, h6, p, a, li, div {
    font-family: 'Merriweather', sans-serif;
}

/*стилі для заголовку першого рівня*/
h1{
	font-weight: 800;
	color: #090841;
	font-size: 2em;
	text-align: center;
	line-height: 1.5;
}

/*стилі для заголовку другого рівня*/
h2{
	font-weight: 500;
	color: #000080;
	font-size: 1.5em;
	text-align: center;
	line-height: 1.5;
}
p{
    font-weight: 500;
    color: #000000;
    font-size: 1.1em;
    line-height: 1.5;
}
/*колір за замовчуванням чорний і без підкреслень для меню*/
a{
    font-weight: 500;
    color: #000000;
    font-size: 1.1em;
    line-height: 1.5;
	text-decoration: none;
	font-size: 1.2em;
}

/*при наведенні зміна кольору та підкреслення*/
a:hover{
	color: #000080;
	/*text-decoration: underline;*/
	background-color: #B3804F;
}

div {
  margin-top: 20px; 
  margin-right: 10px; 
  margin-bottom: 30px; 
  margin-left: 15px; 
}

/*налаштування header*/
.header {
    background-color: #FCC; /*колір фону*/
    padding: 10px; /*внутрішні відступи*/
    display: flex; /*вирівнюваня елементів по горизонталі*/
    align-items: center; /*вирівнювання елементів по вертикалі*/
    justify-content: space-between; /*додає простір між елементами*/
}

/*стилі для меню (що зверху) розміщення по центру*/
#Menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

/*розміщення меню в один рядок*/
#Menu li {
    display: inline;
    margin-right: 15px;
}/*

/*налаштування розміщення картинок*/
.collections {
    display: flex;
    flex-wrap: wrap; /*дозволяє розміщувати елементи в декілька рядків*/
    justify-content: space-between; /* додає простір між елементами*/
}

.collections-item {
    flex: 1 1 22%; /*робить кожен елемент однакової ширини та заповнює 22% батьківського контейнера*/
    box-sizing: border-box; /*гарантує правильне обчислення ширини та висоти*/
    margin-bottom: 20px; /*додає відступ знизу між рядками*/
    text-align: center; /*центрує підписи під картинками*/
}

.collections-item img {
    max-width: 100%; /*гарантує, що картинка не вийде за межі блоку*/
    height: auto; /*автоматичне визначення висоти з урахуванням співвідношення сторін*/
}

/*налаштування для footer*/
.site-footer{
	background-color: #FCC;
	border-color: #FCC;
}

.footer-content {
    display: flex; /*для розташування в ряд соціальних медіа, логотипу та телефонів*/
    justify-content: space-between; /*рівномірне розподілення простору*/
    align-items: center;
    flex-wrap: wrap; /*перенесення елементів на новий рядок при зміні розміру екрану*/
    text-align: center;
}

/*вирівнювання ширини розділів для соціальних мереж та номерів телефонів*/
.social-media, .contact-phones {
    flex: 1;
}

/*прибираємо точки у списку телефонів*/
.contact-phones ul {
    list-style: none; /*видалення стандартних маркерів списку */
    padding-left: 0; /*забирає відступ зліва*/
    margin: 0; /*забирає зовнішні відступи*/
}

/*розміщення логотипу по центру та перевірка, що він займає однакову ширину*/
.footer-logo {
    flex: 1;
    text-align: center;
    margin: 0; /* Видаляє всі зовнішні відступи */
}

/*розміщуємо посилання (меню) по центру*/
.footer-links {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
}

/*розміщуємо посилання (меню) в один рядок*/
.footer-links ul li {
    display: inline-block;
    margin-right: 10px;
}

/*інформація про авторські права в центрі*/
.copyright {
    text-align: center;
    font-size: 0.9em;
}


/*адаптивні стилі для роздільної здатності 1200px */
@media (min-width: 1200px) {
    .menu,
    .header,
    .footer-links ul {
        display: flex;
        align-items: center;
    }
}
/*адаптивні стилі для екрана менше 1200рх*/
@media (max-width:1200px) {
    .collections-item {
        flex: 1 1 30%; /*збільшуємо ширину елементів*/
    }
}
/*адаптивні стилі для ширини екрана менше 992рх*/
@media (max-width:992px) {
    .header-title h1 {
        font-size: 1.8em; /* зменшуємо розмір заголовка */
    }
    .collections-item {
        flex: 1  1 45%; /*робиму ширину колонок більшою*/
    }
    #Menu li {
        display: block; /*меню стає вертикальним*/
        margin-bottom: 10px;
    }
}
/*адаптивні стилі для ширини екрана менше 768рх*/
@media (max-width:768px) {
    .header-title h1 {
        font-size: 1.6em;
    }
    .collections-item {
        flex:1 1 100%; /*одна колонка для елементів*/
        margin-bottom: 15px;
    }
    .header {
        flex-direction: column;/*елементи заголовака вертикальні*/
        text-align: center;
    }
    .footer-content {
        flex-direction: column; /*елементи футера вертикально*/
    }
    .copyright {
        font-size: 0.8em; /* Зменшуємо розмір шрифту для ширини екрана менше 768px */
    }
}
/*адаптивні стилі для ширини менше 600рх*/
@media (max-width: 600px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.3em;
    }
    p {
       font-size: 0.9em;
    }

    .collections {
        flex-direction: column; 
    }

    .collections-item {
        flex: 1 1 100%; 
        margin-bottom: 10px; 
    }

    .collections-item img {
        width: 100%; 
        height: auto; 
    }
    #Menu {
        text-align: center;
    }
    .footer-logo img {
        width: 150px; /*зменшуємо логотип у футері*/
    }
    .footer-links ul li {
        display: block; /*посилання вертикальні*/
        margin-bottom: 5px;
    }
    .contact-phones ul li {
        text-align: center;
    }
    .copyright {
        font-size: 0.7em; 
    }
} 